################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
